[submodule "Library/SPIRV-Headers"]
	path = Library/SPIRV-Headers
	url = https://github.com/SimmyPeet/SPIRV-Headers.git
[submodule "Library/SPIRV-Tools"]
	path = Library/SPIRV-Tools
	url = https://github.com/SimmyPeet/SPIRV-Tools.git
[submodule "Library/glslang"]
	path = Library/glslang
	url = https://github.com/SimmyPeet/glslang.git
[submodule "Library/SPIRV-Cross"]
	path = Library/SPIRV-Cross
	url = https://github.com/SimmyPeet/SPIRV-Cross.git
